stages:
  - build
  - infra
  - deploy
#  - test
  - move
  - clean

Build the site:
  stage: build
  cache:
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
      - public/
  image:
    name: klakegg/hugo
    entrypoint: ["/bin/sh", "-c"]
  script: hugo
  
Create infrastructure:
  stage: infra
  cache:
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
      - public/
  image:
    name: amazon/aws-cli
    entrypoint: ["/bin/sh", "-c"]
  script: 
    - cd /builds/$CI_PROJECT_PATH
    - aws cloudformation deploy
      --template-file .aws/s3.yml
      --tags project=hugo-site
      --stack-name hugo-site-${CI_COMMIT_SHORT_SHA}
      --parameter-overrides ID="${CI_COMMIT_SHORT_SHA}"
    - aws cloudformation wait stack-create-complete --stack-name  hugo-site-${CI_COMMIT_SHORT_SHA}
    - aws s3 sync public s3://hugo-site-${CI_COMMIT_SHORT_SHA} --acl public-read

deploy:
  stage: deploy
  cache:
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
      - public/
  image:
    name: amazon/aws-cli
    entrypoint: ["/bin/sh", "-c"]
  script: 
    - cd /builds/$CI_PROJECT_PATH
    - aws s3 sync public s3://hugo-site-${CI_COMMIT_SHORT_SHA} --acl public-read

Switch CloudFront Origin:
  stage: move
  image:
    name: amazon/aws-cli
    entrypoint: ["/bin/sh", "-c"]
  script:
    - cd /builds/$CI_PROJECT_PATH
    - aws cloudformation deploy
      --template-file ".aws/cloudfront.yml"
      --stack-name hugo-site-distro
      --parameter-overrides s3Url=hugo-site-${CI_COMMIT_SHORT_SHA}.s3-website-us-west-2.amazonaws.com
      --tags project=hugo-site



Clean old S3 buckets:
  stage: clean
  cache:
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
      - public/
  image:
    name: amazon/aws-cli
    entrypoint: ["/bin/sh", "-c"]
  script: 
    - yes | aws s3 ls | awk '{print $3}' | grep hugo-site | grep -v ${CI_COMMIT_SHORT_SHA} | xargs -I{} aws s3 rb s3://{} --force || true
    - yes | aws cloudformation list-stacks --stack-status-filter CREATE_COMPLETE --output text | awk '{print $5}' | grep hugo-site | grep -v hugo-site-${CI_COMMIT_SHORT_SHA} | xargs -I{} aws cloudformation delete-stack --stack-name {} || true

