stages:
  - build
  - infra
#  - deploy
#  - test
#  - move
#  - clean

job 1:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - public/
  image:
    name: klakegg/hugo
    entrypoint: ["/bin/sh", "-c"]
  script: hugo
  
job 2:
  stage: infra
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - public/
  image:
    name: amazon/aws-cli
    entrypoint: ["/bin/sh", "-c"]
  script: ls /builds/ahmed-abdelazim/hugo-site/public
  script: aws s3 ls
